@layout('layouts.auth')

@section('formContent')
  <div class="card d-flex justify-content-center">
    <div class="card-body borderless">
      <p>Usuário criado com sucesso, aguarde a ativação!</p>
      <a class="btn-action" href="/login"><p>Voltar</p></a>
    </div>
  </div>
@endsection
