
@loggedIn
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/home" />
    <title>System</title>
  </head>
  <body>

  </body>
  </html>
@else
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/login" />
  <title>System</title>
</head>
<body>

</body>
</html>
@endloggedIn
